@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

.default {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
  }

  .name {
  font-family: "Sedgwick Ave", cursive;
  font-size: 35px;
  font-weight: 400;
  color: #2c373f;
  letter-spacing: 2px;
}

  .default button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .default button:hover {
    background-color: #0056b3;
  }